[Unit]
Description=Jack Network Gateway Management Daemon
Documentation=https://github.com/we-are-mono/jack
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/jack daemon --apply
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
